<section>
  <div class="bg-white shadow-sm rounded-2 py-3 px-4 card">
    <input
      #newpostInput
      (input)="openModal()"
      (click)="openModal()"
      type="text"
      class="form-control rounded-pill"
      placeholder="What's on your mind..."
    />
  </div>
</section>
<section>
  @for (post of posts; track $index) {
  <app-post [post]="post" />
  }@empty {
  <div class="mt-4">
    <p aria-hidden="true">
      <span class="placeholder col-6"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-8"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a
      class="btn btn-primary disabled placeholder col-4"
      aria-disabled="true"
    ></a>
  </div>
  <div class="mt-4">
    <p aria-hidden="true">
      <span class="placeholder col-6"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
      <span class="placeholder col-7"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-4"></span>
      <span class="placeholder col-6"></span>
      <span class="placeholder col-8"></span>
    </p>
    <a
      class="btn btn-primary disabled placeholder col-4"
      aria-disabled="true"
    ></a>
  </div>
  }
</section>
