<div
  class="post-commends position-relative bg-body-secondary rounded-2 p-2 d-flex flex-column gap-1 rounded-1"
>
  @if (show() ) { @for (comment of commentsPost(); track $index) {
  <app-comment [cmt]="comment" />
  } }@else {
  <app-comment [cmt]="lastComment()" />
  }

  <div class="add-comment position-sticky bottom-0 start-0 end-0">
    <form class="d-flex justify-content-between py-1 gap-1">
      <input
        type="text"
        class="form-control"
        placeholder="write your comment..."
      />
      <button class="btn btn-primary fs-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          fill="white"
          class="bi bi-send"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
          />
        </svg>
      </button>
    </form>
  </div>
</div>
