<section
  class="py-4 d-flex flex-column justify-content-center align-items-center"
>
  <h3 class="text-main-color text-uppercase mb-4 text-main fw-bold">
    facebook clone
  </h3>
  <div
    class="d-flex bg-white justify-content-center flex-wrap pt-4 rounded-3 pb-4 flex-column align-items-center shadow-lg w-100 sm mx-auto"
  >
    <h4 class="text-center text-capitalize fw-bold">create a new account</h4>
    <p class="fw-light">it's quick and easy.</p>
    <hr class="w-100 my-0" />
    <form
      [formGroup]="signUpForm"
      (ngSubmit)="submitSignUpForm()"
      class="p-4 pt-3"
    >
      <!-- Name Fields -->
      <div class="d-flex justify-content-between gap-2 mb-3">
        <div class="w-100">
          <input
            type="text"
            class="form-control shadow-none rounded-3"
            [(ngModel)]="fName"
            [ngModelOptions]="{ standalone: true }"
            placeholder="First Name"
            required
            [ngClass]="{
              'is-valid': fNameModel.valid && fNameModel.touched,
              'is-invalid': !fNameModel.valid && fNameModel.touched
            }"
            #fNameModel="ngModel"
            minlength="3"
            autofocus
            maxlength="12"
          />
          @if (fNameModel.invalid && (fNameModel.touched||fNameModel.dirty)) {
          @if (fNameModel.getError('required') &&
          (fNameModel.touched||fNameModel.dirty)) {
          <div class="alert alert-danger my-1 p-1" role="alert">
            your First Name is required
          </div>
          } @else if (fNameModel.getError('minlength')&&
          (lNameModel.touched||lNameModel.dirty)) {
          <div class="alert alert-danger my-1 p-1" role="alert">
            your First Name is Not Valid , it Must be min 3 charactors
          </div>
          }@else if (fNameModel.getError('maxlength')) {
          <div class="alert alert-danger my-1 p-1" role="alert">
            Your first name is invalid, it must be 12 characters maximum
          </div>
          } }
        </div>
        <div class="w-100">
          <input
            type="text"
            class="form-control shadow-none rounded-3"
            [(ngModel)]="lName"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Last Name"
            required
            [ngClass]="{
              'is-valid': lNameModel.valid && lNameModel.touched,
              'is-invalid': !lNameModel.valid && lNameModel.touched
            }"
            #lNameModel="ngModel"
            minlength="3"
            maxlength="12"
          />
          @if (lNameModel.invalid && (lNameModel.touched||lNameModel.dirty)) {
          @if (lNameModel.getError('required') &&
          (lNameModel.touched||lNameModel.dirty)) {
          <div class="alert alert-danger my-1 p-1" role="alert">
            your Last Name is required
          </div>
          } @else if (lNameModel.getError('minlength')&&
          (lNameModel.touched||lNameModel.dirty)) {
          <div class="alert alert-danger my-1 p-1" role="alert">
            your Last Name is Not Valid , it Must be min 3 charactors
          </div>
          }@else if (fNameModel.getError('maxlength')) {
          <div class="alert alert-danger my-1 p-1" role="alert">
            Your Last name is invalid, it must be 12 characters maximum
          </div>
          } }
        </div>
      </div>

      <!-- Date of Birth -->
      <label class="form-label small text-muted">Date of birth</label>
      <div class="date d-flex justify-content-between gap-2 mb-3">
        <div>
          <label for="dob-day" class="visually-hidden">Day</label>
          <select
            id="dob-day"
            class="form-select shadow-none rounded-3"
            name="days"
            (change)="setDay($event)"
            required
          >
            <option value="" disabled selected>Day</option>
            @for (d of days; track $index) {
            <option class="text-black" [value]="d">
              {{ d }}
            </option>
            }
          </select>
        </div>
        <div>
          <label for="dob-month" class="visually-hidden">Month</label>
          <select
            id="dob-month"
            class="form-select shadow-none rounded-3"
            name="month"
            (change)="setMonth($event)"
            required
          >
            <option value="" disabled selected>Month</option>
            @for (m of months; track $index) {
            <option [value]="$index + 1">{{ m }}</option>
            }
          </select>
        </div>
        <div>
          <label for="dob-year" class="visually-hidden">Year</label>
          <select
            id="dob-year"
            class="form-select shadow-none rounded-3"
            name="year"
            (change)="setYear($event)"
            required
          >
            <option value="" disabled selected>Year</option>
            @for (y of years; track $index) {
            <option>{{ y }}</option>
            }
          </select>
        </div>
      </div>
      <!-- Gender -->
      <label class="form-label small text-muted">Gender</label>
      <div class="d-flex gap-3 mb-2 justify-content-between py-1">
        <label
          for="male"
          class="border border-1 pointer p-2 rounded-3 w-100 d-flex justify-content-between"
        >
          <span> Male </span>
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="male"
            (change)="setGender($event)"
          />
        </label>
        <label
          for="Female"
          class="border border-1 pointer p-2 rounded-3 w-100 d-flex justify-content-between"
        >
          <span> Female </span>
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="Female"
            value="female"
            (change)="setGender($event)"
          />
        </label>
      </div>
      <!-- Email -->
      <div class="mb-2">
        @let emailControl = signUpForm.get('email')!;
        <input
          type="tel"
          class="form-control shadow-none rounded-3"
          placeholder="codewithmena@gmail.com"
          required
          formControlName="email"
          [ngClass]="{
            'is-valid':
              !emailControl.errors &&
              (emailControl.touched || emailControl.dirty),
            'is-invalid':
              emailControl.errors &&
              (emailControl.touched || emailControl.dirty)
          }"
        />
        @if (emailControl.touched && emailControl.getError('required')) {
        <div class="alert alert-danger my-1 p-1" role="alert">
          your Email is required
        </div>
        }@else if ( emailControl.getError('email') ) {
        <div class="alert alert-danger my-1 p-1" role="alert">
          your Email is not valid
        </div>
        }
      </div>
      <!-- Contact & Password -->

      <div class="mb-2">
        @let passwordCtrl = signUpForm.get('password')!;
        <input
          type="password"
          class="form-control shadow-none rounded-3"
          placeholder="New password"
          formControlName="password"
          required
          [ngClass]="{
            'is-valid':
              !passwordCtrl.errors &&
              (passwordCtrl.touched || passwordCtrl.dirty),
            'is-invalid':
              passwordCtrl.errors &&
              (passwordCtrl.touched || passwordCtrl.dirty)
          }"
        />
        @if (passwordCtrl.touched && passwordCtrl.getError('required')) {
        <div class="alert alert-danger my-1 p-1" role="alert">
          your Password is required
        </div>
        }@else if ( passwordCtrl.getError('password')) {
        <div class="alert alert-danger my-1 p-1" role="alert">
          @if (passwordCtrl.errors ) {
          {{ passwordCtrl.getError("password").message }} }
        </div>
        }
      </div>
      <div class="mb-2">
        @let rePasswordCtrl = signUpForm.get('rePassword')!;
        <input
          type="password"
          class="form-control shadow-none rounded-3"
          placeholder="Re password"
          required
          formControlName="rePassword"
          [ngClass]="{
            'is-valid':
              !rePasswordCtrl.errors &&
              (rePasswordCtrl.touched || rePasswordCtrl.dirty),
            'is-invalid':
              rePasswordCtrl.errors &&
              (rePasswordCtrl.touched || rePasswordCtrl.dirty)
          }"
        />
        @if (rePasswordCtrl.touched && rePasswordCtrl.getError('required')) {
        <div class="alert alert-danger my-1 p-1" role="alert">
          your Password is required
        </div>
        }@else if ( rePasswordCtrl.getError('compare') &&
        rePasswordCtrl.touched) {
        <div class="alert alert-danger my-1 p-1" role="alert">
          {{ rePasswordCtrl.getError("compare").message }}
        </div>
        }
      </div>
      <!-- Terms Note -->
      <p class="small text-muted mb-3">
        People who use our service may have uploaded your contact information to
        us. <a class="link-primary pointer">Learn more.</a>
      </p>
      <p class="small text-muted mb-4">
        By clicking Sign Up, you agree to our
        <a class="link-primary pointer">Terms</a>,
        <a class="link-primary pointer">Privacy Policy</a> and
        <a class="link-primary pointer">Cookies Policy</a>. You may receive SMS
        notifications from us and can opt out at any time.
      </p>
      @if ( isCreated ) {
      <div class="alert alert-success mt-1 p-1 w-100 text-center" role="alert">
        <strong>Success!</strong> Your account has been created successfully.
      </div>
      }@if (!isCreated && msgError ) {
      <div
        class="alert alert-danger mt-1 p-1 w-100 text-center text-uppercase"
        role="alert"
      >
        <strong>error!</strong> {{ msgError }}
      </div>
      }

      <button class="btn btn-primary w-100 rounded-pill" type="submit">
        Sign Up
      </button>
    </form>
    <span
      routerLink="/signin"
      class="pointer text-primary d-inline-block mt-1 text-center mx-auto w-100"
    >
      Already have an account?
    </span>
  </div>
</section>
