<div class="card p-3">
  <div class="header">
    <div class="sec-1 d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center justify-content-between gap-2">
        <img [src]="post().user.photo" alt="profile" />
        <div class="w-75">
          <p class="my-0 fs-6 text-capitalize">{{ post().user.name }}</p>
          <span class="fs-6 fw-light">{{ post().createdAt | date }}</span>
        </div>
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-three-dots"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="sec-2 mt-1">
      <p>
        {{ post().body }}
      </p>
    </div>
    <img class="w-100 rounded-2" [src]="post().image" alt="post photo" />
    <a class="text-primary text-decoration-none">show comments</a>
  </div>
  <div
    class="post-commends bg-body-secondary rounded-2 p-2 d-flex flex-column gap-1 rounded-1"
  >
    <div class="commend bg-body-tertiary p-3 mt-2 rounded-3">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-between gap-1">
          <img src="./images/profile.png" alt="profile" />
          <div class="">
            <p class="my-0 fs-6 text-capitalize">
              Mena Erian Farouk
              <span class="fs-6 ms-1 fw-light">2 hours ago</span>
            </p>
          </div>
        </div>
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-three-dots"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
            />
          </svg>
        </div>
      </div>
      <p class="mt-1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, possimus.
      </p>
    </div>

    <div class="add-comment">
      <form class="d-flex justify-content-between py-1 gap-1">
        <input
          type="text"
          class="form-control"
          placeholder="write your comment..."
        />
        <button class="btn btn-primary fs-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="white"
            class="bi bi-send"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>
