img[alt="profile"] {
  width: 40px;
}
img:hover {
  cursor: pointer;
}
.card {
  border: none;
  box-shadow: 0 0 16px -7px var(--main-color);
}
svg {
  cursor: pointer;
  transition: all 0.2s;
}
.body {
  a {
    font-size: medium;
    display: inline-block;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
  }
}
.post-commends {
  > div.commend {
    background-color: rgba(185, 183, 183, 0.753);
    p {
      margin-bottom: 0;
    }
  }
}
.add-comment {
  svg:hover {
    fill: whitesmoke;
  }
}
