<div class="commend bg-body-tertiary p-3 mt-2 rounded-3">
  <div class="d-flex align-items-center justify-content-between gap-1">
    <div class="d-flex align-items-center justify-content-between gap-1">
      <img src="./images/profile.png" alt="profile" />
      <!-- <img [src]="cmt().commentCreator.photo" alt="profile" /> problem in backend -->

      <p class="my-0 fs-6 text-capitalize text-center">
        {{ cmt().commentCreator.name }}
        <span class="fs-6 ms-1 fw-light accordion text-nowrap">{{
          cmt().createdAt | date
        }}</span>
      </p>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-three-dots"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
        />
      </svg>
    </div>
  </div>
  <p class="mt-2 mb-1">
    {{ cmt().content }}
  </p>
</div>
